<a href="https://colab.research.google.com/github/sreejareddy3/2216107_AIML_bootcamp/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#if statement
var=10
if var>0:
  print("true")
  print(var)

true
10

In [ ]:
#if else statement
v=-3
if v>0:
  print("true")
  print(v)
else:
  print("flase")
  print(v)

flase
-3

In [ ]:
#nested if statements
#bus tickets
age=int(input("Enter age="))
if age>8 and age<=50 :
  if age<15:
    print("Quarter ticket ")
  elif age==15:
    print("Quarter ticket + discount")
  else:
    print("half ticket")
elif age>=18 and age<=70:
  print("Full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("No ticket")

Enter age=16
half ticket

In [ ]:
#for loop
num=[2,1,6,12,20,33,65,26,18]
sum=0
for val in num:
  sum+=val;
print("The sum is =",sum)
print("\n")
for i in range(1,7):
  print(i)
print("\n")
for i in range(1,9,2):
  print(i)
print("\n")
x=[1,2,3,4,5,6,7]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

The sum is = 183


1
2
3
4
5
6


1
3
5
7


[2, 4, 6]

In [ ]:
# using statements in for loop
digit=[0,8,12]
for i in digit:
  print(i)
else:
  print("no items left")
print("\n")
for l in "strawberry":
  print("current letter :",l)

0
8
12
no items left


current letter : s
current letter : t
current letter : r
current letter : a
current letter : w
current letter : b
current letter : e
current letter : r
current letter : r
current letter : y

In [ ]:
#iterating by sequence indexing
snacks=['pizza','burger','pasta']
for index in range(len(snacks)):
 print("current snacks:",snacks[index])

current snacks: pizza
current snacks: burger
current snacks: pasta

In [ ]:
#while
i=1
while i<=15:
  print(i)
  i+=1
print("\n")
i=0
while i<8:
  print(i,"is less then 8")
  i+=1
else:
  print(i,"is not less then 8")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15


0 is less then 8
1 is less then 8
2 is less then 8
3 is less then 8
4 is less then 8
5 is less then 8
6 is less then 8
7 is less then 8
8 is not less then 8

In [ ]:
#nested loops
print("addition")
x=[[1,9,3],
   [4,7,5],
   [6,8,9]]
y=[[4,8,5],[1,8,0],[9,2,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] + y[i][j]
for r in res:
  print(r)
print("\n")
print("Subtraction")
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] - y[i][j]
for r in res:
  print(r)
print("\n")
print("Multiplication")
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] * y[i][j]
for r in res:
  print(r)

addition
[5, 17, 8]
[5, 15, 5]
[15, 10, 16]


Subtraction
[-3, 1, -2]
[3, -1, 5]
[-3, 6, 2]


Multiplication
[4, 72, 15]
[4, 56, 0]
[54, 16, 63]

In [ ]:
n1=int(input("Enter number of table you want to print"))
i=1
while(i<=n1):
  print(f"Table{i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j+=1
  print("________________")
  i+=1

Enter number of table you want to print5
Table1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
________________
Table2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
________________
Table3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
________________
Table4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
________________
Table5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
________________

In [ ]:
#control statements
#break
for l in 'purple':
  if l=='r':
    break
  print("current letter:",l)
print("\n")
i=12
while(i>0):
  print("current value:",i)
  i=i-1
  if i==6:
    break

current letter: p
current letter: u


current value: 12
current value: 11
current value: 10
current value: 9
current value: 8
current value: 7

In [ ]:
#continue
for l in 'pineapple':
  if l=='a':
    continue
  print("current letter:",l)
print("\n")
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==2:
    continue

current letter: p
current letter: i
current letter: n
current letter: e
current letter: p
current letter: p
current letter: l
current letter: e


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [ ]:
#pass
for l in 'chocolate':
  if l=='t':
    pass
  print("This is pass block")
  print("current letter:",l)
print("\n")
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==5:
    print("This is pass block")

This is pass block
current letter: c
This is pass block
current letter: h
This is pass block
current letter: o
This is pass block
current letter: c
This is pass block
current letter: o
This is pass block
current letter: l
This is pass block
current letter: a
This is pass block
current letter: t
This is pass block
current letter: e


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
This is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [ ]:
#activity1
str1=input("Enter a string")
if(str1==str1[::-1]):
  print("palindrome")
else:
  print("not a palindrome")

Enter a string121
palindrome

In [ ]:
#activity2
for i in range(1,100):
  str2=str(i)
  if(str2==str2[::-1]):
    print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99

In [ ]:
#activity3
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
  if(l[i]%2==0):
    print(l[i])

2
4
6
8
10

activity4: Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”

Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]

Output: [“Finland”,”Ireland”]

In [ ]:
Countries_list=["Finland","Germany","Sweden","Ireland","Turkey"]
l=[]
for i in Countries_list:
  if ("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

activity5: Write a python program that print respective grades of student:Grade – Outstanding  for marks>=90Grade A+ for marks >=80, <90Grade A for marks >=70, <80Grade B for marks >=60 and <70<60 Grade C

In [ ]:
marks=int(input("Enter your marks="))
if(marks>=90):
  print("outstanding")
elif(marks >=80 & marks<90):
  print("grade A+")
elif( marks >=70and marks<90):
  print("grade A")
elif( marks >=60and marks<90):
  print("garde B")
else:
  print("garde C")

Enter your marks=86
grade A+

activity6: Create a list with name state list with 5 elements State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Write a python program that extract first and last characters of each item and print in desired format.

Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Output: dItAgAaOkA

In [ ]:
list1= ["Delhi","Telangana","Goa","AP","Kerala"]
for i in range(len(list1)):
  str33=list1[i][0]
  str22=list1[i][-1] 
  print((str33+str22).swapcase())

dI
tA
gA
ap
kA

In [ ]:
#user defined functions
def greet(name):
  '''this function greets a person'''
  print("HI,\t"+name+"\tGOOD MORNING")
greet("AYESHA SHAHANAZ")

HI,	AYESHA SHAHANAZ	GOOD MORNING

In [ ]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [ ]:
#positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [ ]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
dict1=key_arg(Apples=10,oranges=20,grapes=30)
print(dict1['Apples'])
print(dict1)

10
{'Apples': 10, 'oranges': 20, 'grapes': 30}

In [ ]:
#arbitrary keyword
def add_num(*n):
  print(n)
  print(sum(n))
add_num(5,11)

(5, 11)

TypeError: ignored

In [ ]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("Hi,i am higher order function")
  print(greet)
explain(shout)
explain(whisper)

HI,I AM HIGHER ORDER FUNCTION
hi,i am higher order function

In [ ]:
#lambda
def incr(x):
  x+=1
  return x
print(incr(4))
print((lambda x:x+1)(4))
res=lambda x:x+1
print(res(4))

5
5
5

In [ ]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x*y
print(res(2,3))

4
5
6

In [ ]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))

In [ ]:
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)


res_list1=list(map(lambda x:x+2,li))
print(res_list1)


print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
def eod(num):
  if num%2==0 :
    return "The number {} is even".format(num)
  else :
    return "The number {} is odd".format(num)
eod(20)

li1=[1,2,3,4,5,6,7,8,9,10]
list(map(eod,li1))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even']

In [ ]:
li2=['apple','banana','grapes']
res=list(map(lambda x:x.capitalize(),li2))
print(res)

['Apple', 'Banana', 'Grapes']

In [ ]:
#filter
def odd_num(n):
  if(n%2!=0):
    return n
li3=[9,26,35,-2,50]
print(list(filter(odd_num,li3)))

[9, 35]

In [ ]:
li4=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,li4))
print(temp)

[18, 94, 16, 22, 56, 34]

In [ ]:
#modules
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

In [ ]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [ ]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

28
3
1

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655223758.2227325
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=16, tm_min=22, tm_sec=38, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 16:22:38 2022
Tue Jun 14 16:22:38 2022
None

In [ ]:
#random module
import random  as r
print(r.randrange(1,50))
print(r.randint(1,100))
print(r.random())

18
77
0.9054238403051469

In [ ]:
import random as r
g_num=r.randint(0,5)
g1_num=int(input("Enter a number="))
if g1_num==g_num :
  print("you won")
else :
  print("you lost")

Enter a number=4
you lost

act: Write a python program that remove items that are multiples of 5 from list:li=[1,2,5,6,7,10,15,25,65,78,90]o/p: [1,2,6,7,78]

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

act: Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’

Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]

Output: [“Apple”,”Avacado”,”Amla”]

In [ ]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x[0]=='A',Fruit))
print(res)

['Apple', 'Avacado', 'Amla']

act: Mssg=”Welcome to gradstellar bootcamp” X=”number of occurrences of ‘o’ in mssg”

Y=”number of occurrences of ‘e’ in mssg”

Compute (X+Y)2

In [ ]:
Mssg="Welcome to gradstellar bootcamp"
x=Mssg.count('o')
print(x)
y=Mssg.count('e')
print(y)
print("(x+y)^2=",x*x+y*y+2*x*y)

4
3
(x+y)^2= 49

act: Write python program that filters a list by removing the elements that not start with vowel. I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]

O/P: [‘apple’,’orange’,’umbrella’]

In [7]:
list22=["apple","orange","grapes","ball","bat","umbrella"]
res=list(filter(lambda x:x[0] in 'AEIOUaeiou',list22))
print(res)

['apple', 'orange', 'umbrella']

act: Write a python program that displays unique element in a given list using function Li=[56,78,32,45,45,45,19,20]

O/P: [56,78,32,45,19,20]

In [ ]:
Li23=[56,78,32,45,45,45,19,20]
def dup(d):
  n=[]
  for i in d:
    if i not in n:
      n.append(i)
  return n
dup(Li23)

[56, 78, 32, 45, 19, 20]